<<<<<<< HEAD
.answer-title {
  display: inline-block;
  width: 70%;
}
.vertical-line-wrapper {
  display: inline-block;
  width: 100px;
  height: 10px;
  margin-left: 10px;
}

.vertical-line {
  display: inline-block;
  height: 10px;
  background-color: #6500ff;
}
.dash-header {
  width: 80%;
  background-image: linear-gradient(60deg, #00c4d9, #00acc3);
}
.answer-wrapper {
  padding: 10px 0;
  margin: 5px 0;
  border-bottom: 1px rgb(216, 216, 216) solid;
}
.vertical-line {
  display: inline-block;
  height: 10px;
  background-color: #6500ff;
  max-width: 100%;
  margin-left: 15px;
}
=======
.answer-title {
  display: inline-block;
  width: 70%;
}
.vertical-line-wrapper {
  display: inline-block;
  width: 100px;
  height: 10px;
  margin-left: 10px;
}

.vertical-line {
  display: inline-block;
  height: 10px;
  background-color: #6500ff;
}
.dash-header {
  width: 80%;
  background-image: linear-gradient(60deg, #00c4d9, #00acc3);
}
.answer-wrapper {
  padding: 10px 0;
  margin: 5px 0;
  border-bottom: 1px rgb(216, 216, 216) solid;
}
.vertical-line {
  display: inline-block;
  height: 10px;
  background-color: #6500ff;
  max-width: 100%;
  margin-left: 15px;
}
>>>>>>> 379cf132f3c5735726fa117955bf0fac2b8281b2
